/* MEDIA QUERIES ARE COOL */
/* Tiny devices */
@media (min-width: 200px) {
  .navbar-brand {
    font-size: 14px;
    small {
      font-size: 10px;
    }
  }
  .hidden-xs {
    display: none;
  }

  #wp-search-input {
    width: auto;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-brand {
    font-size: inherit;
    small {
      font-size: inherit;
    }
  }
  .hidden-xs {
    display: inline;
  }

  #wp-search-input {
    width: 300px;
  }

  .infobox {
    clear: inherit;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* TOP OF PAGE STUFF */
.jumbotron {
  padding: 5px;
}

.navbar {
  .navbar-brand {
    color: #eeeeee;
  }
  span {
    color: #c1d2ee;
    font-size: .8em;
  }
}

#box-row {
  margin: 8px 4px;
  padding: 4px 8px;
  border: 1px solid grey;

  .box {
    margin: 8px 0;
    padding: 4px 8px;
    border: 1px solid lightgray;
    list-style: none;
    word-break:break-all;
  }

  #code-box {
    font-size: 0.8em;
  }
}

/* EDIT BOXES ETC. */
.edit-box {
  margin: 8px 0 0 0;
  padding: 4px 8px;
  cursor: pointer;
}

/* WIKIPEDIA SEARCH STUFF */
#wikipedia-box {
  margin: 20px 0;
  border: double 1px black;
  padding: 15px;
  overflow: hidden;

}

#wp-search-form {
  margin-bottom: 10px;
}

#wp-search-input {
  margin-left: 15px;
}

.infobox {
  float: right;
  margin: 10px 0 10px 20px;
  padding: 10px;
  border: lightgray 1px solid;
}